body{

    background-color: #1b1b1b;

}

.img {

    display: flex;
    justify-content: center;

}

.img1{

    margin-right: 30px;
    border: 7px dotted red;

}

.img2{

    border: 9px dotted aqua;

}